mixin notice(notice)
    input(name="notice" type="checkbox" value=`${notice._id}`)
    a(href=`/notice/${notice._id}`) 
        if notice.isImportant 
            span 중요 
        span #{notice.title}  
        br
        span #{notice.writtenAt} 
        hr
