/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.header .header__logo {
  width: 40%;
}
.header .header__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 150px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.calendar {
  max-width: 700px;
  max-height: 80vh;
  margin: 0 auto;
  border: 1px solid black;
  padding: 30px;
}
.calendar .calendar__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendar .calendar__header .calendar__nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar .calendar__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendar .calendar__main .calendar__days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}
.calendar .calendar__main .calendar__dates {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.calendar .calendar__main .calendar__dates .calendar__date {
  position: relative;
  height: 80px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.calendar .calendar__main .calendar__dates .calendar__date .this,
.calendar .calendar__main .calendar__dates .calendar__date .other {
  margin: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar .calendar__main .calendar__dates .calendar__date .calendar__contest {
  color: black;
}
.calendar .calendar__main .calendar__dates .calendar__date .mini-window {
  top: -50%;
  left: -150px;
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid green;
  font-size: 1.3rem;
  color: black;
  display: flex;
  flex-direction: column;
  animation: fadein 0.5s ease-in-out;
}
.calendar .calendar__main .calendar__dates .calendar__date .other {
  opacity: 0.5;
}
.calendar .calendar__main .calendar__dates .calendar__date .today {
  position: relative;
  color: white;
  background-color: red;
  border-radius: 50%;
}
.calendar .calendar__main .calendar__day:nth-child(7n+1),
.calendar .calendar__main .calendar__date:nth-child(7n+1) {
  color: red;
}
.calendar .calendar__main .calendar__day:nth-child(7n),
.calendar .calendar__main .calendar__date:nth-child(7n) {
  color: blue;
}

button {
  all: unset;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-line {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-line input {
  all: unset;
  width: 100px;
  height: 50px;
  border: 2px solid blue;
  caret-color: white;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}
.input-line input::placeholder {
  color: white;
  text-align: center;
}

.question-upload {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.question-upload .question-upload__title {
  all: unset;
  width: 300px;
  height: 50px;
  border: 2px solid white;
  caret-color: white;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
}
.question-upload .question-upload__title::placeholder {
  color: white;
  text-align: center;
}
.question-upload canvas {
  width: 360px;
  margin: 30px 30px 30px 0;
}
.question-upload .question-upload__firstTurn {
  width: 200px;
  height: 70px;
  background-color: #e38d00;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-upload .question-upload__firstTurn .question-upload__turn-black {
  all: unset;
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.question-upload .question-upload__firstTurn .question-upload__turn-white {
  all: unset;
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.question-upload .question-upload__firstTurn .clicked {
  transform: scale(0.9);
  opacity: 0.7;
}
.question-upload .question-upload__pick-color {
  width: 200px;
  height: 70px;
  background-color: #e38d00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-upload .question-upload__pick-color .question-upload__black-btn {
  all: unset;
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.question-upload .question-upload__pick-color .question-upload__white-btn {
  all: unset;
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.question-upload .question-upload__pick-color .clicked {
  transform: scale(0.9);
  opacity: 0.7;
}
.question-upload .question-upload__finish-btn {
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
  display: block;
}

.hidden {
  display: none;
}

.answer-upload {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 50px;
}
.answer-upload canvas {
  width: 360px;
  margin: 30px 30px 30px 0;
}

.failure-upload {
  display: flex;
  flex-direction: column;
}
.failure-upload .failure-upload__canvas-row {
  display: flex;
  overflow-x: scroll;
  width: auto;
}
.failure-upload .failure-upload__canvas-row canvas {
  width: 360px;
  margin: 30px 30px 30px 0;
}

.make-gibo-container .info {
  display: flex;
  justify-content: center;
  margin: 0 auto 100px auto;
  width: 50%;
}
.make-gibo-container .info form {
  display: flex;
  flex-direction: column;
}
.make-gibo-container .info form label {
  margin-bottom: 10px;
  color: white;
  font-size: 1.5rem;
}
.make-gibo-container .info form input {
  all: unset;
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.7rem;
  caret-color: white;
  color: white;
}
.make-gibo-container .info form #gibo-start-btn {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: 1.7rem;
}
.make-gibo-container .gibo {
  display: flex;
}
.make-gibo-container .gibo canvas {
  margin-right: 50px;
}
.make-gibo-container .gibo .tools {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px;
  justify-items: center;
  margin-bottom: 30px;
  padding: 30px 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.make-gibo-container .gibo .tools button {
  margin: 10px;
  font-size: 1.6rem;
}
.make-gibo-container .gibo .tools button:nth-child(1),
.make-gibo-container .gibo .tools :nth-child(4) {
  font-size: 2.3rem;
}
.make-gibo-container .gibo .tools .save {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
.make-gibo-container .hidden {
  display: none;
}

.my-gibo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 100px auto;
  padding-bottom: 100px;
}
.my-gibo-list-container .gibo-list {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 100px;
}
.my-gibo-list-container .gibo-list a {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-size: 1.8rem;
}
.my-gibo-list-container .gibo-list a .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.my-gibo-list-container .gibo-list a .player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.my-gibo-list-container .gibo-list a .player .winner,
.my-gibo-list-container .gibo-list a .player .loser {
  margin: 0 10px;
}
.my-gibo-list-container .gibo-list a .player .winner {
  color: #32e275;
}
.my-gibo-list-container .gibo-list a .result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
}
.my-gibo-list-container .page-remote-control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.my-gibo-list-container .page-remote-control .page-btn {
  margin: 0 5px;
}
.my-gibo-list-container .page-remote-control .current {
  color: aqua;
}
.my-gibo-list-container .page-remote-control .disabled {
  opacity: 0.5;
}

.watch-gibo-container .gibo {
  display: flex;
}
.watch-gibo-container .gibo canvas {
  margin-right: 50px;
}
.watch-gibo-container .gibo .sub-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 30px 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.watch-gibo-container .gibo .sub-box .tools {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px;
  justify-items: center;
  margin-bottom: 70px;
}
.watch-gibo-container .gibo .sub-box .tools button {
  margin: 10px;
  font-size: 1.6rem;
}
.watch-gibo-container .gibo .sub-box .tools button:nth-child(1),
.watch-gibo-container .gibo .sub-box .tools :nth-child(4) {
  font-size: 2.3rem;
}
.watch-gibo-container .gibo .sub-box .info {
  width: 100%;
}
.watch-gibo-container .gibo .sub-box .info span {
  all: unset;
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.watch-gibo-container .gibo .sub-box .info div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 2rem;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
}

a {
  color: inherit;
  text-decoration: none;
}
